[Unit]
Description=Update Hostname to CPUID
After=syslog.target 

[Service]
Type=oneshot
ExecStart=/usr/bin/zabbix-configure-host.sh
ExecStop=/usr/bin/zabbix-configure-host.sh


[Install]
WantedBy=multi-user.target
